package examples

import "github.com/haatos/goshipit/internal/views/components"

// example
templ StatusNotFound() {
	@components.Status(components.StatusProps{
		Code:        404,
		Title:       "Not Found",
		Description: "Looks like there's nothing here...",
		ReturnButton: components.ButtonProps{
			Label: "Go back",
		},
	})
}
