// actions
package components

type ButtonProps struct {
	Label string
	Class string
	Attrs templ.Attributes
}

templ Button(props ButtonProps) {
	<button class={ "btn", props.Class } { props.Attrs... }>
		{ props.Label }
	</button>
}
