// data_display
package components

templ Hover3DCard() {
	<div class="hover-3d">
		{ children... }
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
}
